.Container {
    // min-height: 500px;
    display: flex;
    justify-content: center;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.Container__Inner {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}