.CGames {

    &__Container {
        margin-top: 2em;

        h2 {
            margin-bottom: 10px;
            text-transform: initial;
        }
    }

    &__Group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }

    @media only screen and (max-width: 1200px) {
        &__Group {
            display: grid;
            grid-template-columns: 1fr;
        }

        .GameDesc {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
