.CContact {
    height: 300px;

    &__Center {
        margin-top: auto;
        margin-bottom: auto;

        a {
            text-decoration: none;
            color: white;
            transition: color 0.25s, text-shadow 0.25s;

            padding: 0.5em;
            background-color: #1bd0bf;
            border: 1px solid black;
            border-radius: 10px;
        }

        a:hover {
            color: white;
            text-shadow: 2px 2px #000000;
        }
    }
}