.App {
  text-align: center;
}

html {
	scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  text-align: center;
  color: #FFF;
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  float: none;
}

h2 {
  text-align: center;
  color: #FFF;
  font-size: 34px;
  line-height: 45px;
  text-transform: uppercase;
  float: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: reduce) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  html {
    scroll-behavior: auto;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
