.RowBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    height: fit-content;
    margin-left: 1em;
    padding: 1em;
    background-color: #000000bf;
    border-radius: 2px;

    button {
        border: none;
        color: white;
        transition: color 0.3s;
        background-color: #796d6d2e;
        border-radius: 8px;
    }
    
    button:hover {
        color: lightblue;
    }
}